/---- Himanshu Style Here ----/
.main{
    &-body{
        &-card{
            background-color: $dashboard_bg ;
            border: none;
           
        }
        &-content{
            width: calc(100% - 250px);
            padding: 20px
        }
        &-header{
            background: $white;
            padding: 20px;
           
        
        }
    }
 }
 /---- Image ----/
.img {
   
    &-member {
        &-dp {
            width: 70px;
            border-radius: $border_radius;
        }
    }
}