/*---- Himanshu Style Here ----*/
.main{
    &-body{
        &-card{
            background-color: $dashboard_bg ;
            border: none;
           
        }
    }
 }
 /*---- Image ----*/
.img {
   
    &-member {
        &-dp {
            width: 70px;
            border-radius: $border_radius;
        }
    }
}